<%= render("./partials/header/header") %>
<!--The main content-->
<div class="shell">
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Isin:</strong>
    <%= @source_france.isin %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= @source_france.name %>
  </p>
  <p>
    <strong>Url 0:</strong>
    <%= @source_france.url_0 %>
  </p>
  <p>
    <strong>Url 1:</strong>
    <%= @source_france.url_1 %>
  </p>
  <p>
    <strong>Url 2:</strong>
    <%= @source_france.url_2 %>
  </p>
  <p>
    <strong>Url 3:</strong>
    <%= @source_france.url_3 %>
  </p>
  <p>
    <strong>Url 4:</strong>
    <%= @source_france.url_4 %>
  </p>
  <p>
    <strong>Url 5:</strong>
    <%= @source_france.url_5 %>
  </p>
  <p>
    <strong>Url 6:</strong>
    <%= @source_france.url_6 %>
  </p>
  <p>
    <strong>Url 7:</strong>
    <%= @source_france.url_7 %>
  </p>
  <p>
    <strong>Url 8:</strong>
    <%= @source_france.url_8 %>
  </p>
  <p>
    <strong>Url 9:</strong>
    <%= @source_france.url_9 %>
  </p>
  <p>
    <strong>Url 10:</strong>
    <%= @source_france.url_10 %>
  </p>
  <p>
    <strong>Url 11:</strong>
    <%= @source_france.url_11 %>
  </p>
  <%= link_to 'Edit', edit_source_france_path(@source_france) %> |
  <%= link_to 'Back', source_frances_path %>
</div>
