<%= render("./partials/header/header") %>
<!--The main content-->
<div class="shell">
  <h1>Editing User Report</h1>
  <%= render 'form', user_report: @user_report %>
  <%= link_to 'Show', @user_report %> |
  <%= link_to 'Back', user_reports_path %>
</div>
<p id="notice"><%= notice %></p>
