<%= form_with(model: fias_report, local: true) do |form| %>
  <% if fias_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fias_report.errors.count, "error") %> prohibited this fias_report from being saved:</h2>

      <ul>
      <% fias_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :isin %>
    <%= form.text_field :isin, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :stock %>
    <%= form.text_field :stock, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :borsaitaliana_support %>
    <%= form.text_field :borsaitaliana_support, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :borsaitaliana_resistance %>
    <%= form.text_field :borsaitaliana_resistance, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :borsaitaliana_fta %>
    <%= form.number_field :borsaitaliana_fta, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :borsaitaliana_rsi %>
    <%= form.text_field :borsaitaliana_rsi, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :borsaitaliana_volatility %>
    <%= form.text_field :borsaitaliana_volatility, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :sole24ore_shorttrend %>
    <%= form.text_field :sole24ore_shorttrend, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :sole24ore_mediumtrend %>
    <%= form.text_field :sole24ore_mediumtrend, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :sole24ore_rating %>
    <%= form.text_field :sole24ore_rating, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :sole24ore_relativestrenght %>
    <%= form.text_field :sole24ore_relativestrenght, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :milanofinanza_risk %>
    <%= form.text_field :milanofinanza_risk, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :milanofinanza_rating %>
    <%= form.text_field :milanofinanza_rating, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :milanofinanza_trendshort %>
    <%= form.text_field :milanofinanza_trendshort, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :milanofinanza_trendmedium %>
    <%= form.text_field :milanofinanza_trendmedium, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :milanofinanza_trendlong %>
    <%= form.text_field :milanofinanza_trendlong, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :teleborsa_support %>
    <%= form.text_field :teleborsa_support, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :teleborsa_resistance %>
    <%= form.text_field :teleborsa_resistance, class:'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
