<%= form_with(model: market, local: true) do |form| %>
  <% if market.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(market.errors.count, "error") %> prohibited this market from being saved:</h2>

      <ul>
      <% market.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :value %>
    <%= form.text_field :value, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :variation %>
    <%= form.text_field :variation, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :country %>
    <%= form.text_field :country, class:'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
