<%= render("./partials/header/header") %>
<!--The main content-->
<div class="shell">
  <p id="notice"><%= notice %></p>
  <h1>Markets</h1>
  <div class="table-wrapper">
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Value</th>
          <th scope="col">Variation</th>
          <th scope="col">Country</th>
          <th scope="col" colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @markets.each do |market| %>
          <tr class='<%= cycle('odd', 'even') %>'>
            <td title="<%= market.name %>"><%= market.name %></td>
            <td title="<%= market.value %>"><%= market.value %></td>
            <td title="<%= market.variation %>"><%= market.variation %></td>
            <td title="<%= market.country %>"><%= market.country %></td>
            <td><%= link_to 'Show', market %></td>
            <td><%= link_to 'Edit', edit_market_path(market) %></td>
            <td><%= link_to 'Destroy', market, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>
  <%= link_to 'New Market', new_market_path %>
</div>
