<%= form_with(model: follow_stock_newsletter, local: true) do |form| %>
  <% if follow_stock_newsletter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(follow_stock_newsletter.errors.count, "error") %> prohibited this follow_stock_newsletter from being saved:</h2>

      <ul>
      <% follow_stock_newsletter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :stock %>
    <%= form.text_field :stock %>
  </div>

  <div class="field">
    <%= form.label :isin %>
    <%= form.text_field :isin %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active %>
  </div>

  <div class="field">
    <%= form.label :privacy %>
    <%= form.check_box :privacy %>
  </div>

  <div class="field">
    <%= form.label :referrer %>
    <%= form.text_field :referrer %>
  </div>

  <div class="field">
    <%= form.label :sended %>
    <%= form.text_field :sended %>
  </div>

  <div class="field">
    <%= form.label :total_sended %>
    <%= form.text_field :total_sended %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
