<div id="follow_stock_newsletters_wrap" class="nl-wrapper">
	<h6><%= t('layouts.application.followTheStock')%></h6>
	<p>
		<%= t('layouts.application.getInfoFromStock')%>
	</p>
	
	<%=	form_tag({controller: "follow_stock_newsletters"}, action: "create", :class => 'rd-mailform text-center', remote: true) do  %>

		<!-- Alerts -->
		<div class="alert-wrapper"></div>

		<%= hidden_field(:follow_stock_newsletter, :stock, :value => '') %>

		<%= hidden_field(:follow_stock_newsletter, :active, :value => 'true') %>

		<%= hidden_field(:follow_stock_newsletter, :referrer, :value => '0') %>

		<div class="form-wrap">
			<%= label(:follow_stock_newsletter, :isin, class: "form-label") do
		'<span class="icon mdi-factory mdi"></span>'.html_safe
		end %>
			<%= select(:follow_stock_newsletter, :isin, grouped_options_for_select($marketsForSelect), { include_blank: false, prompt: t('layouts.application.selectStock') }, {:class=>"form-input"}) %>
		</div>

		<div class="form-wrap">
			<%= label(:follow_stock_newsletter, :email, class: "form-label") do
		'<span class="icon mdi-email mdi"></span>'.html_safe
		end %>
			<%= email_field(:follow_stock_newsletter, :email, class: "form-input", placeholder: t('layouts.application.yourMail'), data: {constraints: '@Required'}) %>
		</div>

		<div class="form-wrap privacy">
			<%= check_box(:follow_stock_newsletter, :privacy) %>
			<p class="label-like"><%= t('layouts.application.privacy_message_html', href: link_to(t('layouts.application.privacy_html'), pages_privacy_policy_path)) %></p>
		</div>

		<div class="form-wrap form-footer">
			<%= submit_tag(t('layouts.application.subscribeBtn'), :class => 'btn btn-primary') %>
		</div>

	<% end %>
</div>
